<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/guide.css">
    <link rel="stylesheet" href="static/css/guide_media.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Plant Instructions</title>
</head>

<body>
    <div class = "main-grid-container">
        <div class="header">
            <h1>Plants 4 Pups <i class="fa-solid fa-paw" style="color:#B17F59"></i></h1>
        </div>
        <nav class="navbar">
            <div class="nav-container">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('guide') }}">Instructions</a>
            </div>
        </nav>
        <!--Plant 1-->
            <div class="plant">
                <div class="plant-info">
                    <h1>Zucchini Dark Green</h1>
                    <div class="plant-info-image">
                        <img src="static/images/zucchini.jpg" alt="plant">
                    </div>
                    <h3>Instructions</h3>
                    <ol>
                        <li><strong>Choose a sunny location:</strong> Zucchini plants require 6-8 hours of sunlight daily for healthy
                            growth.</li>
                        <li><strong>Prepare the soil:</strong> Use well-draining, fertile soil with a pH of 6.0-7.5. You can amend the soil
                            with compost for added nutrients.</li>
                        <li><strong>Plant seedlings:</strong> After the last frost, plant zucchini seedlings outdoors when the soil
                            temperature reaches around 65°F (18°C), spaced 18-24 inches apart in rows 3-4 feet apart.</li>
                        <li><strong>Water consistently:</strong> Keep the soil evenly moist, watering deeply 1-2 times a week. Avoid
                            watering the leaves to prevent diseases.</li>
                        <li><strong>Fertilize as needed:</strong> Use a balanced fertilizer formulated for vegetables to promote healthy
                            growth. Apply every 3-4 weeks.</li>
                        <li><strong>Monitor for pests:</strong> Keep an eye out for common pests like squash bugs and aphids, and take
                            action immediately to prevent damage.</li>
                        <li><strong>Thin out seedlings:</strong> If the seedlings are crowded, thin them out to allow enough space for each
                            plant to grow properly.</li>
                        <li><strong>Provide support:</strong> As your zucchini plants grow, use stakes or a trellis if you prefer to grow
                            them vertically. This can help save space and keep the plants healthier.</li>
                        <li><strong>Harvest the zucchini:</strong> Once the zucchinis are 6-8 inches long, harvest them regularly to
                            encourage further production.</li>
                    </ol>

                </div>
            <div>
        
        
        <!--Plant 2-->
        <div class="plant">
            <div class="plant-info">
                <h1>Spaghetti Squash</h1>
                <div class="plant-info-image">
                    <img src="static/images/squash.jpg" alt="plant">
                </div>

                <h3>Instructions</h3>
                <ol>
                    <li><strong>Choose a sunny location:</strong> Spaghetti squash requires 6-8 hours of direct sunlight daily for
                        optimal growth.</li>
                    <li><strong>Prepare the soil:</strong> Use well-draining, loamy soil with a pH of 6.0-7.5. Enrich the soil with
                        compost to provide essential nutrients.</li>
                    <li><strong>Plant seedlings:</strong> Once the last frost has passed and the soil temperature reaches 60-70°F
                        (15-21°C), plant the seedlings 1 inch deep, spaced 24-36 inches apart, with rows 4-6 feet apart.</li>
                    <li><strong>Water regularly:</strong> Keep the soil evenly moist but not waterlogged. Water deeply 1-2 times a week,
                        adjusting for rainfall. Avoid wetting the leaves to prevent disease.</li>
                    <li><strong>Fertilize monthly:</strong> Use a balanced vegetable fertilizer or compost to support the plant’s
                        growth. Apply it once every 3-4 weeks during the growing season.</li>
                    <li><strong>Monitor for pests:</strong> Look out for common squash pests such as aphids, squash bugs, and vine
                        borers. Take action quickly to prevent damage.</li>
                    <li><strong>Thin seedlings:</strong> If plants are too close, thin out the weaker seedlings to allow proper air
                        circulation and space for each plant to grow.</li>
                    <li><strong>Provide adequate space:</strong> Spaghetti squash vines spread out and need plenty of room to grow.
                        Consider training the plants vertically on a trellis to save space if desired.</li>
                    <li><strong>Harvest the squash:</strong> Harvest the spaghetti squash when the skin becomes hard and the color turns
                        to a deep yellow or golden. Cut the fruit from the vine, leaving a 2-inch stem.</li>
                </ol>

            </div>
        <div>
        
        <!--Plant 3-->
        <div class="plant">
            <div class="plant-info">
                <h1>Pepper California Wonder</h1>
                <div class="plant-info-image">
                    <img src="static/images/pepper.jpg" alt="plant">
                </div>
                <h3>Instructions</h3>
                <ol>
                    <li><strong>Choose a sunny location:</strong> California Wonder peppers require 6-8 hours of direct sunlight daily
                        to thrive.</li>
                    <li><strong>Prepare the soil:</strong> Use well-draining, loamy soil with a pH of 6.0-6.8. Amend the soil with
                        compost for better nutrient content and moisture retention.</li>
                    <li><strong>Plant seedlings:</strong> After the last frost, when soil temperatures reach 65-70°F (18-21°C), plant
                        the seedlings 18-24 inches apart in rows 24-36 inches apart.</li>
                    <li><strong>Water consistently:</strong> Keep the soil evenly moist, watering deeply 1-2 times a week, especially in
                        dry weather. Avoid wetting the leaves to reduce the risk of diseases.</li>
                    <li><strong>Fertilize regularly:</strong> Use a balanced fertilizer designed for vegetables. Apply every 3-4 weeks
                        to promote healthy growth and fruit production.</li>
                    <li><strong>Support the plants:</strong> As the plants grow, use stakes or cages to support the stems and keep them
                        upright as peppers develop.</li>
                    <li><strong>Monitor for pests:</strong> Watch for pests like aphids, spider mites, and caterpillars, and take action
                        to control them as needed.</li>
                    <li><strong>Prune as necessary:</strong> Pinch back the top of the plant if it becomes too tall, encouraging bushier
                        growth and more peppers.</li>
                    <li><strong>Harvest the peppers:</strong> Once the peppers are fully grown and have turned from green to red (or
                        their mature color), carefully cut them from the plant with a sharp knife or pruning shears.</li>
                </ol>

            </div>
        <div>
        
        <!--Plant 4-->
        <div class="plant">
            <div class="plant-info">
                <h1>Pansy</h1>
                <div class="plant-info-image">
                    <img src="static/images/pansy.jpg" alt="pansy">
                </div>
                <h3>Instructions</h3>
                <ol>
                    <li><strong>Choose a sunny or partially shaded location:</strong> Pansies thrive in cool temperatures and need 4-6
                        hours of sunlight per day, though they can also tolerate partial shade.</li>
                    <li><strong>Prepare the soil:</strong> Use well-draining, fertile soil with a pH of 6.0-7.0. Amend the soil with
                        compost or organic matter to improve nutrient content and drainage.</li>
                    <li><strong>Plant seedlings:</strong> After the last frost, when the soil temperature reaches around 50-60°F
                        (10-15°C), plant pansy seedlings 6-8 inches apart in well-prepared soil.</li>
                    <li><strong>Water consistently:</strong> Keep the soil evenly moist but not soggy. Water the plants at the base,
                        avoiding getting the leaves wet to prevent fungal diseases.</li>
                    <li><strong>Fertilize regularly:</strong> Apply a balanced, slow-release fertilizer or one formulated for flowers
                        once every 4-6 weeks to encourage healthy growth and vibrant blooms.</li>
                    <li><strong>Mulch around the plants:</strong> Apply a layer of mulch around the pansies to help retain moisture,
                        keep the soil cool, and suppress weeds.</li>
                    <li><strong>Monitor for pests and diseases:</strong> Watch for pests like aphids, slugs, and snails, and treat them
                        promptly. Check for signs of fungal diseases like powdery mildew or root rot.</li>
                    <li><strong>Deadhead spent flowers:</strong> Regularly remove faded blooms to encourage the plant to produce new
                        flowers, ensuring a longer blooming period.</li>
                    <li><strong>Provide protection from extreme heat:</strong> Pansies prefer cooler temperatures, so provide some
                        afternoon shade if you live in a hot climate to protect them from wilting.</li>
                </ol>

            </div>
        <div>
            <!--Plant 5-->
        <div class="plant">
            <div class="plant-info">
                <h1>Tomato</h1>
                <div class="plant-info-image">
                    <img src="static/images/tomato.jpg" alt="plant">
                </div>
                <h3>Instructions</h3>
                <ol>
                    <li><strong>Choose a sunny location:</strong> Tomato plants need 6-8 hours of direct sunlight daily for
                        optimal
                        growth and fruit production.</li>
                    <li><strong>Prepare the soil:</strong> Use well-draining, loamy soil with a pH of 6.0-6.8. Amend the soil
                        with
                        compost or organic matter to ensure it’s nutrient-rich and retains moisture.</li>
                    <li><strong>Plant seedlings:</strong> After the last frost, when the soil temperature reaches 60°F (15°C),
                        plant the
                        seedlings 18-24 inches apart in rows 36-48 inches apart. If growing in containers, choose pots at least
                        18-24
                        inches in diameter.</li>
                    <li><strong>Water consistently:</strong> Keep the soil evenly moist, watering deeply 1-2 times a week,
                        particularly
                        during dry spells. Water at the base of the plant to avoid wetting the leaves, which can cause disease.
                    </li>
                    <li><strong>Fertilize regularly:</strong> Apply a balanced fertilizer or one specifically formulated for
                        tomatoes
                        every 2-3 weeks to promote healthy growth and fruiting.</li>
                    <li><strong>Provide support:</strong> Use stakes, cages, or trellises to support the plant as it grows. This
                        will
                        keep the stems upright and prevent the fruit from touching the ground.</li>
                    <li><strong>Prune the plant:</strong> Remove the suckers (small shoots between the stem and branches) to
                        encourage
                        the plant to focus energy on producing fruit. Pinch back the top if it becomes too tall.</li>
                    <li><strong>Monitor for pests and diseases:</strong> Check for common pests like aphids, whiteflies, or
                        hornworms,
                        and treat them promptly. Keep an eye out for signs of disease like yellowing leaves or spots.</li>
                    <li><strong>Harvest the tomatoes:</strong> Once the tomatoes turn red (or their specific color depending on
                        the
                        variety), gently pick them from the plant. Harvesting regularly encourages further production.</li>
                </ol>
            </div>
        <div>
        <div class="contact">
            <div class="contact-content">
                <h1>Connect</h1>
                <p style="color: white;">If you have any questions, please feel free to reach out to our team!</p>
                {% include 'contact.html' %}
            </div>
        </div>
    </div>
    
</body>
</html>